<h4>
<ul>
<% if @post %>
<li> <%= "#{comment.user.name}: #{comment.content}"  %> </li>
<% else @question %> 
<% if comment.answer %>
<li style="color:green;">  <%= "#{comment.user.name} answers #{comment.content}" %> </li>
<% else %>
<li> <%= "#{comment.user.name}: #{comment.content}"  %> </li>
<% end %>
<% end %>
</ul>

</h4>