<h4>
<ul>
<% if @post %>
<li> <%= link_to "#{comment.content}", edit_post_comment_path(params[:id], comment) %> </li>
<% else @question %> 
<li> <%= link_to "#{comment.content}", edit_question_comment_path(params[:id], comment) %> </li>
<% end %>
</ul>

</h4>